<%- include ("header") %>

<div class="container">
  <div id="heading" class="box one">
    <h1 >To Do List</h1>
  </div>
  <div class="box two">
    <p class="lead">Welcome to our To Do list</p>
    <hr />
    <a class="btn" href="/register" role="button">Register</a>
    <a class="btn" href="/login" role="button">Login</a>
  </div>

  <%- include ("footer") %>
</div>
