<%- include ("header") %>
<div class="container">
  <div class="box one" id="heading">
    <h1>Register</h1>
  </div>

  <div class="box two">
    <form action="/register" method="POST">
      <div class="name">
        <label class="name-lable" for="name">User Name</label>
        <input
          class="input-class"
          type="text"
          name="userName"
          autocomplete="off"
          required
        />
      </div>

      <div class="email">
        <label class="email-lable" for="email">Email</label>
        <input
          class="email-input"
          type="email"
          name="email"
          autocomplete="off"
          required
        />
      </div>

      <div class="password">
        <label class="pass-lable" for="password">Password</label>
        <input
          class="pass-input"
          type="password"
          name="password"
          autocomplete="off"
          required
        />
      </div>

      <div>
        <button type="submit" class="btn register-btn">Register</button>
        <a class="btn login-btn" href="/login" role="button">Login</a>
      </div>
    </form>
  </div>
</div>
  <%- include ("footer") %>
