<%- include ("header") %>
<div class="container">
  <div class="box one" id="heading">
    <h1>Register</h1>
  </div>

  <div class="box two">
    <form action="/register" method="POST">
      <div class="name">
        <label for="name">User Name</label>
        <input class="input-class"  type="text"  name="userName" />
      </div>

      <div class="email">
        <label class="email-lable" for="email">Email</label>
        <input type="email" name="email" />
      </div>

      <div class="password">
        <label class="pass-lable" for="password">Password</label>
        <input type="password"  name="password" />
      </div>

      <div>
        <button type="submit" class="btn register-btn">Register</button>
        <a class="btn login-btn" href="/login" role="button">Login</a>
      </div>
    </form>
  </div>

  <%- include ("footer") %>
</div>
